sudo: false
language: scala

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/
before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt -name "*.lock" -delete

matrix:
  include:
    - scala: 2.10.6
      env: TEST_SCRIPTED=0
      jdk: oraclejdk8
    - scala: 2.11.12
      env: TEST_SCRIPTED=1
      jdk: oraclejdk8
    - scala: 2.12.4
      env: TEST_SCRIPTED=0
      jdk: oraclejdk8
    - scala: 2.13.0-M1
      env: TEST_SCRIPTED=0
      jdk: oraclejdk8

script:
  - sbt ++$TRAVIS_SCALA_VERSION core/compile core/publishLocal
  - sbt plugin/compile plugin/publishLocal
  - "if [[ $TEST_SCRIPTED = 1 ]]; then sbt tests/scripted; fi"

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/230c239c3e16a2bf85f2
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
